body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size: 14px;
}
.section{
    width: 100vw;
    height: 100vh;
}
h1{
    margin: 0px;
}
.swiper-container1{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.index,.index1{
    width: 100%;
    height: 100%;
    background-color: #ffe3d6;
}
.end{
    width: 100%;
    height: 100%;
}
/*.spring{*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-color: #f1ffd2;*/
/*}*/
/*.summer{*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-color: #e2fdfc;*/
/*}*/
/*.autumn{*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-color: #fcb023;*/
/*}*/
/*.winter{*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-color: #ffffff;*/
/*}*/
.swiper-slide{

}
.container{
    padding: 5vh 10vw;
    width: 80vw;
    height: 90vh;
    position: relative;
}
.container>img{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    display: none;
}
.container>.title{
    width: 37vw;
    overflow: hidden;
    background-color: black;
    display: none;
    font-size: 12px;
    height: 6vh;
    color: white;
    text-align: left;
    position: absolute;
    line-height: 16px;
    font-family: "sans-serif";
    padding: 1vh 0 0 13vw;
    top: 13vh;
    left: 0;
}
.spring .title{
    background-color: #acd48f;
}
.summer .title{
    background-color: #75893b;
}
.autumn .title{
    background-color: #d0b678;
}
.winter .title{
    background-color: #5aabb9;
}
.container>img.mountian,.container>img.water,.container>img.flower,.container>img.people{
    width: 100vw;
    position: absolute;
    left: 0;
    height: 100vh;
    bottom: 0;
    display: none;
}
img.noise{
    width: 100vw;
    position: absolute;
    top: 0;
    height: 100vh;
    left: 0;
    opacity: 0.3;
}
.end .text{
    height: 80vh;
    top: 50%;
    margin-left: 0;
    margin-top: -40vh;
}
.index .text,.index1 .text{
    height: 60vh;
    top: 50%;
    margin-left: 0;
    margin-top: -30vh;
}
 .text{
    position: absolute;
    top: 45%;
     height: 35vh;
     margin-top: -20vh;

    width: 70vw;
    padding: 5vw;
     font-family: "sans-serif";
    text-align: center;
    z-index: 1;
    display: none;
     margin-left: 10vw;
}
 .swiper-container-spring,.swiper-container-summer,.swiper-container-autumn,.swiper-container-winter{
     width: 100%;
     height: 100%;
     overflow: hidden;
     position: absolute;
     top: 0;
     left: 0;
 }
 h1{
     font-size: 18px;
     font-family: 'YaHei';
     position: relative;
     top:-10px;
 }

@-webkit-keyframes rotate{
    from{-webkit-transform:rotate(0deg)}
    to{-webkit-transform:rotate(360deg)}
}
@-moz-keyframes rotate{
    from{-moz-transform:rotate(0deg)}
    to{-moz-transform:rotate(360deg)}
}
@-ms-keyframes rotate{
    from{-ms-transform:rotate(0deg)}
    to{-ms-transform:rotate(360deg)}
}
@-o-keyframes rotate{
    from{-o-transform:rotate(0deg)}
    to{-o-transform:rotate(360deg)}
}
.music {
background: url(../img/button.png) no-repeat;
     position: absolute;
     z-index: 10;
     width: 10vw;
     height: 10vw;
     bottom: 32px;
     left: 45%;
    background-size: 10vw;
 }
.music.active{
    animation: 9.5s linear 0s normal none infinite rotate;
    -webkit-animation: 9.5s linear 0s normal none infinite rotate;
}
 .music img{
     width: 100%;
 }




